@import url(./fonts/fonts.css);

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3 {
  margin: 0;
}

ymaps[class*="search__suggest"] {
  position: relative;
  width: inherit;
  overflow: scroll;
 }
ymaps[class*="search__suggest-item"]:hover {
  font-size: 18pt;
  color: pink
 }
